$main-color: #EE5514;
$black-color: #1A0A03;

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Source Serif Pro', serif;
    background-color: #E5E5E5;
    color: $black-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    margin-right: 100px;
}

.page {
    &-main {
       background-image: url('../img/bg.png');
       background-repeat: no-repeat;
        background-size: contain;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        flex-grow: 1;
        a {
            text-decoration: none;
            color: #1A0A03;
            margin-right: 40px;
            font-size: 16px;
            line-height: 160%; 
            opacity: 0.7;   
            &:hover {
                color: $main-color;
            }
        }
        .active {
            color: $main-color;
        }
    }
    .btn {
        background-color: $main-color;
        border-radius: 5px;
        padding: 15px 30px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        font-family: 'Poppins', sans-serif;
        border: none;
        cursor: pointer;
    }
}

.main {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    &__wrap {
        width: 35%;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 61px;
        line-height: 120%;
        margin-bottom: 20px;
        margin-top: 70px;
        &_orange {
            color: $main-color;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 160%;
        opacity: 0.7;
        font-family: 'Poppins', sans-serif; 

    }
    &__img {
        margin-right: 20px;
    }
    &__svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 70px;
        background-color: rgba(238, 85, 20, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
         
    }

}
.submain {
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
    padding: 30px 55px;
    display: flex;
    justify-content: space-between;
    width: 792px;
    font-family: 'Poppins', sans-serif; 

    &__title {
        font-size: 16px;
        line-height: 160%;
        opacity: 0.7;
    }
    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        position: relative;
        &::after {
            content: " ";
            width: 12px;
            height: 6px;
            background-image: url('../img/arrow-d.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}







