$main-color: #EE5514;
$black-color: #1A0A03;

body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: #E5E5E5;
    font-family: 'Source Serif Pro', serif;
    color: $black-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    @media(max-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo {
    margin-right: 100px;
}

.page {
    &-main {
       background-image: url('../img/bg.png');
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       padding-bottom: 44px;
    }
}
.btn {
    background-color: $main-color;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    @media(max-width: 767px) {
        padding: 10px 20px;
    }
}
.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $main-color;
    margin-bottom: 20px;
}

.title {
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 20px;
}
.descr {
    font-size: 16px;
    line-height: 160%;
    opacity: 0.7;
    font-family: 'Poppins', sans-serif; 
    @media(max-width: 992px) {
        font-size: 14px;
    }

}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        flex-grow: 1;
        a {
            text-decoration: none;
            color: #1A0A03;
            margin-right: 40px;
            font-size: 16px;
            line-height: 160%; 
            opacity: 0.7;   
            &:hover {
                color: $main-color;
            }
        }
        .active {
            color: $main-color;
        }
        @media(max-width: 767px) {
            display: none;
        }
    }
    .btn {
        @media(max-width: 767px) {
            display: none;
        }
    }
    .burger-menu {
        display: none;
        @media(max-width: 767px) {
            display: block;
            span {
                background-color: $main-color;
                width: 20px;
                height: 3px;
                display: block;
                margin-bottom: 4px;
            }
        }
    }
}

.main {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    &__wrap {
        width: 35%;
        @media(max-width: 1100px) {
            width: 50%;
        }
        @media(max-width: 565px) {
            width: 85%;
            text-align: center;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 61px;
        line-height: 120%;
        margin-bottom: 20px;
        margin-top: 70px;
        &_orange {
            color: $main-color;
        }
        @media(max-width: 992px) {
            font-size: 35px;
            margin-top: 20px;
        }
    }
 

    &__img {
        margin-right: 20px;
        @media(max-width: 1100px) {
            width: 50%;
        }
        @media(max-width: 565px) {
            display: none;
        }
    }
    &__svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 70px;
        background-color: rgba(238, 85, 20, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:1100px) {
            width: 50px;
            height: 50px;
        }
        @media(max-width: 565px) {
            width: 30px;
            height: 30px;
        }

        svg {
            @media(max-width: 565px) {
                width: 15px;
                height: 15px;
            }
        }
         
    }

}
.submain {
    position: absolute;
    bottom: -46px;
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
    padding: 30px 55px;
    display: flex;
    justify-content: space-between;
    width: 792px;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    @media(max-width: 991px) {
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    @media(max-width: 767px) {
        padding: 20px 55px;
    }
    @media(max-width: 630px) {
        padding: 20px 20px;
    }
    &__wrap {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        
        &::after {
            content: "";
            height: 42px;
            width: 1px;
            background-color: $main-color;
            display: block;
            position: absolute;
            right: -60px;
            top: 5px;
            @media(max-width: 767px) {
                right: -40px;
            }
            @media(max-width: 630px) {
                display: none;
            }
        }
    }
    .last {
        &::after {
            display: none;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 160%;
        opacity: 0.7;
        @media(max-width: 767px) {
            font-size: 14px;
        }
    }
    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        position: relative;
        @media(max-width: 767px) {
            font-size: 16px;
        }
        &::after {
            content: " ";
            width: 12px;
            height: 6px;
            background-image: url('../img/arrow-d.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            @media(max-width: 767px) {
                right: -16px;
            }
        }
    }
    &__btn {
        font-size: 16px;
        margin-left: 60px;
        @media(max-width: 767px) {
            font-size: 14px;
        }
        @media(max-width: 630px) {
            margin-left: 30px;
        }
    }
}
.video {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
        width: 32%;
    }
    &__img {
        width: 555px;
        height: 100%;
        border-radius: 10px;
        position: relative;
    }
    &__main{
        width: 555px;
        height: 326px;
    }
    &__bg {
        position: absolute;
        left: 50px;
        bottom: 54px;
        z-index: -2;
    }
    &__svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        left: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.feature {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 70px;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-gap: 30px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
        border-radius: 10px;
        padding: 56px 60px;
        &:hover {
            background: rgba(238, 85, 20, 0.1);
        }
    }
    &__svg {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        &_blue {
            background-color: rgba(18, 101, 225, 0.1);
        }
        &_purple {
            background-color: rgba(95, 46, 234, 0.1);
        }
        &_violet {
            background-color: rgba(170, 33, 234, 0.1);
        }
    }
    &__name {
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        margin-top: 28px;
    }
    &__descr {
        font-size: 14px;
        line-height: 160%;
        font-family: 'Poppins', sans-serif;
        opacity: 0.7;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $main-color;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        position: relative;
        &::after {
            content: " ";
            display: block;
            width: 4px;
            height: 8px;
            background-image: url('../img/arrow-right.png');
            background-size: contain;
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.gallary {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    &-tabs {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: rgba(26, 10, 3, 0.7);
        display: flex;
        &__title{ 
            margin-right: 35px;
        }
        &__item {
            margin-right: 25px;
            cursor: pointer;
            &:hover,
            &.active {
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }
    &-content {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        grid-gap: 30px;
        margin-top: 50px;
        img {
            width: 260px;
            height: 170px;
            border: 1px solid rgba(26, 10, 3, 0.1);
            box-sizing: border-box;
            filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.05));
            border-radius: 10px;
        }
        &__item {
            &:hover {
                img {
                    border-color: $main-color;
                }
            }
        }
        &__name {
            font-weight: 600;
            font-size: 22px;
            line-height: 150%;
            margin-top: 20px;
        }
        &__descr {
            font-size: 16px;
            line-height: 160%;
            color: rgba(26, 10, 3, 0.7);
            font-family: 'Poppins', sans-serif; 
            span {
                font-weight: 500;
                color: rgba(26, 10, 3, 0.8);
            }
        }
        .btn {
            margin-top: 10px;
        }
    }

}

.slider-arrows {
    position: absolute;
    right: 0;
    top: 175px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    &__item {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(238, 85, 20, 0.1);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.feedback {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    .title {
        text-align: center;
    }
    &__wrap {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: calc(50% - 63px);
    }
    &__img {
        width: 100%;
    }
    &__ava {
        margin-bottom: 30px;
    }
    svg {
        margin-bottom: 10px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
    }
    &__text {
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        font-family: 'Poppins', sans-serif;
        opacity: 0.7;
        margin-bottom: 25px;
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        font-family: 'Poppins', sans-serif;

    }
    &__descr {
        font-size: 14px;
        line-height: 160%;
        opacity: 0.8;
    }

}









